* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  html {
    scroll-behavior: smooth; 
  }

  .nav-list {
    list-style: none;
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
  }

  a{
      text-decoration: none;
  }
  .nav-link {
    transition: .3s;
  }

  a {
    color: #ebf3ec;
    text-decoration: none;  
    transition: color 0.5s;
  }
  
  a:hover {
    color: #be2727;
  }
.section-list {
    list-style: none;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    font-weight: center;
  }
  
.section {
    width: 50%;
  }

  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }

  .footer {
	padding: 20px 0;
	background-color: rgb(39, 39, 39);
	align-items: center;
}

.footer_wrap {
	display: flex;
	justify-content: space-between;
}

.footer_log {
	width: 100px;
	height: 50px;
}

.footer__link {
	background-image: url(images/github.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 50px;
	height: 50px;
	object-fit: cover;
	border: none;
	padding-bottom: 0;
}

.footer__link-2{
  padding-bottom: 0;
  bottom: none;
  border-bottom: none;
}

.footer_year {
	font-size: 35px;
}

.main-container {
    flex-wrap: wrap;
}
  
.section {
    width: 50%;
    display: flex;
}

@media (max-width: 768px) {
    .section {
      width: 100%;
    } 
}

.section-profile-logo {
    width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  filter: grayscale(0.2) brightness(1.05);
  transition: .3s;
}

.section-profile-logo:hover {
    filter: none;
}

.skills {
    list-style: none;
    font-weight: 900;
}

.code {
    font-weight: 900;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

}

.header {
    border: 1px solid rgba(102, 124, 24, 0.438);
    background-color: rgb(7, 34, 36);
}

html {
    scroll-behavior: smooth;
}

.main {
    border: 10px solid rgba(102, 124, 24, 0.438); 
}